version: '3'
services:
  app:
    image: app
    build:
      context: .
      dockerfile: docker/app/Dockerfile

  proxy:
    build:
      context: .
      dockerfile: docker/proxy/Dockerfile
    ports:
      - "${APP_PORT:-8080}:80"

  database:
    image: postgres:17
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-password}
      POSTGRES_DB: ${POSTGRES_DB:-postgres}
    ports:
      - "5432:5432"
    volumes:
      - database:/var/lib/postgresql/data
      - ./docker/database/init:/docker-entrypoint-initdb.d
    profiles:
      - "database"

  amqp:
    image: rabbitmq:4-management
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER:-guest}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS:-guest}
      RABBITMQ_DEFAULT_VHOST: ${RABBITMQ_DEFAULT_VHOST:-}
    ports:
      - "15672:15672"
      - "5672:5672"
    profiles:
      - "amqp"

  sftp:
    build:
      context: .
      dockerfile: docker/sftp/Dockerfile
    ports:
      - "22:22"
    profiles:
      - "sftp"

volumes:
  sftp:
  database:
